# Python-related files
*.pyc
__pycache__/
*.pyo

# Local settings file
/settings/local.py

# Log files
/logs/

# Media files (e.g. user-uploaded images)
/media/

# Static files (e.g. CSS, JavaScript)
/static/

# Database file(s) (e.g. SQLite)
*.db
*.sqlite3

# Ignore migrations unless you're sharing them with someone else
*/migrations/*

# Ignore environment files
.env

# Ignore the virtual environment
.venv/

# Ignore the dependency list
requirements.txt
