<div *ngFor="let item of items">

  <h3>
    <a [title]="item.name + ' details'" [href]="item.url" target="_blank">
      {{ item.name }}
    </a>
  </h3>
  <img src={{item.image_url}} alt="">

  <p *ngIf="item.description">
    Description: {{ item.description }}
  </p>

  <p *ngIf="item.price">
    Price: {{ item.price | number:'1.0-2' }} ₸
  </p>

  <p *ngIf="item.rating">
    Rating: {{ item.rating | number:'1.2' }} / 5.00
  </p>


  <button type="button" (click)="share(item.id)">
    <i class="material-icons">share</i>
    Share in Telegram
  </button>

</div>
